.box-shadow(@size: 1px) {
  box-shadow: @size @size @size #ffa33d;
  -moz-box-shadow: @size @size @size #ffa33d;
  -webkit-box-shadow: @size @size @size #ffa33d;
  -o-box-shadow: @size @size @size #ffa33d;
}

.radiuborder(@size: 10%) {
  border-radius: @size;
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
}
body {
  max-width: 500px;
  margin: 0 auto;
  padding: 10%/6;
  #magic-box {
    /**
    width: 30%;
    padding-bottom: 30%;
    margin: 10%/6;
    **/
    overflow: hidden;
    div {
      background-color: #ffc767;
      float: left;
      .radiuborder;
    }
  }
  .start {
    width: e("calc(90% - 2px)");
    padding: 20px 0;
    margin: 5%;
    color: #ffc767;
    border: 1px solid #ffc767;
    .radiuborder(10px);
    &:hover {
      cursor: pointer;
      .box-shadow;
    }
    &:active {
      cursor: inherit;
    }
  }
  #speed {
    display: none;
    overflow: hidden;
    #add {
      display: block;
      float: left;
      width: 35%;
      padding: 10px 0;
      margin: 5px;
      color: white;
      .radiuborder(5px);
      background-color: #ffc767;
      &:hover {
        cursor: pointer;
        .box-shadow;
      }
      &:active {
        cursor: inherit;
      }
    }
    #sub {
      #add;
      float: right;
    }
  }

  .active {
    color: white;
    background-color: #ffc767;
  }
  #user {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #ffc58b;
    &:hover {
      cursor: pointer;
      .box-shadow;
    }
    &:active {
      cursor: inherit;
    }
  }
  form {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 20px;
    background-color: #ffbe96;
    button {
      float: right;
      display: block;
      margin-left: 5px;
      padding: 5px 10px;
      color: #ffc767;
      background-color: white;
    }
    input {
      margin: 5px 5px;
    }
  }
}
