@font-face {
  font-family: font2;
  src: url(../font/font2.ttf);
}
html {
  background-color: black;
  background-image: url(../images/header3.jpg);
  background-size: 100%;
  background-repeat: repeat-x;
}
body {
  margin-top: 50vw;
  perspective: 1000px;
}
body .header {
  position: absolute;
  top: -70%;
  right: 24%;
  padding-left: 1em;
  color: darkred;
  font-size: 2em;
  font-family: font2;
  background-image: url(../images/header1.jpg);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: .1em;
}
body #heart {
  position: relative;
  width: 20vw;
  height: 40vw;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform-origin: 50% 85%;
  animation: mymove 60s linear infinite;
}
@keyframes mymove {
  0% {
    transform: rotatey(0deg) rotatex(0deg) rotatez(0deg);
  }
  25% {
    transform: rotatey(-180deg) rotatex(360deg) rotatez(90deg);
  }
  50% {
    transform: rotatey(-360deg) rotatex(720deg) rotatez(180deg);
  }
  75% {
    transform: rotatey(-540deg) rotatex(1080deg) rotatez(270deg);
  }
  100% {
    transform: rotatey(-720deg) rotatex(1440deg) rotatez(360deg);
  }
}
body #heart #heartchild {
  position: relative;
  top: 3vw;
  left: -23.6vw;
  width: 30vw;
  height: 60vw;
  transform-origin: 112.8%;
  transform-style: preserve-3d;
  animation: imove 5s linear infinite;
}
body #heart #heartchild div {
  position: absolute;
  top: 12%;
  left: 62%;
  width: 30vw;
  height: 60vw;
  border: 2px solid red;
  border-left: 0;
  border-bottom: 0;
  border-radius: 50% 50% 0 / 50% 50% 0;
}
@keyframes imove {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}
body #heart #cube {
  position: absolute;
  top: 0;
  left: -9.5vw;
  width: 16vw;
  height: 16vw;
  transform-style: preserve-3d;
  transform: translatex(73%) translatey(245%) translatez(8vw);
}
body #heart #cube div {
  position: absolute;
  width: 16vw;
  height: 16vw;
  background-size: 100%;
  opacity: .5;
}
body #heart #cube div:nth-child(6) {
  top: 16vw;
  transform-origin: top;
  transform: rotatex(-90deg);
  background-image: url(../images/heart2.jpg);
}
body #heart #cube div:nth-child(5) {
  top: -16vw;
  transform-origin: bottom;
  transform: rotatex(90deg);
  background-image: url(../images/heart1.jpg);
}
body #heart #cube div:nth-child(4) {
  left: 16vw;
  transform-origin: left;
  transform: rotatey(90deg);
  background-image: url(../images/heart5.jpg);
}
body #heart #cube div:nth-child(3) {
  left: -16vw;
  transform-origin: right;
  transform: rotatey(-90deg);
  background-image: url(../images/heart4.jpg);
}
body #heart #cube div:nth-child(2) {
  transform: translatez(-16vw) rotatey(180deg);
  background-image: url(../images/heart3.jpg);
}
body #heart #cube div:nth-child(1) {
  background-image: url(../images/heart6.jpg);
}
