@font-face {
  font-family: font2;
  src: url(../font/font2.ttf);
}
html {
  background-color: black;
  background-image: url(../images/header.png);
  background-position-y: 2vw;
  background-size: 100%;
  background-repeat: repeat-x;
}
body {
  margin-top: 35vw;
  perspective: 10000px;
}
body #header {
  font-family: font2;
}
body .header {
  position: fixed;
  top: -46%;
  right: 2%;
  padding-left: 1em;
  color: darkred;
  font-size: 2em;
  background-image: url(../images/header1.png);
  background-repeat: no-repeat;
  background-position-y: .1em;
  background-size: 1em;
  animation: header 10s ease-out 1;
}
@keyframes header {
  from {
    right: -10%;
    font-size: 0;
    background-size: 0;
  }
  to {
    right: 2%;
    font-size: 2em;
    background-size: 1em;
  }
}
body #heart {
  position: relative;
  width: 20vw;
  height: 40vw;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform-origin: 50% 125% -8vw;
  animation: mymove 60s linear infinite;
}
@keyframes mymove {
  0% {
    transform: rotatey(0deg) rotatex(0deg) rotatez(0deg);
  }
  100% {
    transform: rotatey(-720deg) rotatex(1440deg) rotatez(360deg);
  }
}
body #heart #heartchild {
  position: relative;
  top: 3vw;
  left: -23.6vw;
  width: 30vw;
  height: 60vw;
  transform-origin: 112.8%;
  transform-style: preserve-3d;
  animation: imove 5s linear infinite;
}
body #heart #heartchild div {
  position: absolute;
  top: 12%;
  left: 62%;
  width: 30vw;
  height: 60vw;
  border: 2px solid red;
  border-left: 0;
  border-bottom: 0;
  border-radius: 50% 50% 0 / 50% 50% 0;
  animation: color 10s infinite;
}
@keyframes imove {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}
@keyframes color {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #db4532;
  }
  50% {
    border-color: red;
  }
  85% {
    border-color: #8b1524;
  }
  95% {
    border-color: #320000;
  }
  100% {
    border-color: transparent;
  }
}
body #heart #cube {
  position: absolute;
  top: 0;
  left: -9.5vw;
  width: 20vw;
  height: 20vw;
  transform-style: preserve-3d;
  transform: translatex(50%) translatey(200%) translatez(10vw);
}
body #heart #cube div {
  position: absolute;
  width: 20vw;
  height: 20vw;
  background-size: 100%;
  opacity: .5;
}
body #heart #cube div:nth-child(6) {
  top: 20vw;
  transform-origin: top;
  transform: rotatex(-90deg);
  background-image: url(../images/heart2.jpg);
}
body #heart #cube div:nth-child(5) {
  top: -20vw;
  transform-origin: bottom;
  transform: rotatex(90deg);
  background-image: url(../images/heart1.jpg);
}
body #heart #cube div:nth-child(4) {
  left: 20vw;
  transform-origin: left;
  transform: rotatey(90deg);
  background-image: url(../images/heart5.jpg);
}
body #heart #cube div:nth-child(3) {
  left: -20vw;
  transform-origin: right;
  transform: rotatey(-90deg);
  background-image: url(../images/heart4.jpg);
}
body #heart #cube div:nth-child(2) {
  transform: translatez(-20vw) rotatey(180deg);
  background-image: url(../images/heart3.jpg);
}
body #heart #cube div:nth-child(1) {
  background-image: url(../images/heart6.jpg);
}
