.content {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: .2rem;
}
.content>p {
    margin: .2rem 0;
}
.content>p span {
    color: #29b078;
}
.content_nav {
    padding-top: .1rem;
    padding-bottom: .1rem;
    border-top: .01rem solid #d0d6d9;
    border-bottom: .01rem solid #edf1f2;
}
.content .content_nav span {
    color: #999;
}
.content_nav a {
    margin: 0 .1rem;
    padding: .02rem;
}
.content_nav a:hover {
    background-color: #29b078;
    color: #FFF;
}
a.location {
    background-color: #29b078;
    color: #FFF;
}
.profession>div>h4 {
    padding: .2rem 0;
    margin-bottom: .2rem;
    border-bottom: .01rem solid #d0d6d9;
}
.profession>div>div {
    padding: 0 .1rem 0 0;
    font-size: .1rem;
}
.profession>div>div>div {
    padding: 0;
    border: .01rem solid #edf1f2;
    background-color: #fff;
}
.profession>div>div>div>div {
    width: 100%;
}
.profession_head {
    display: flex;
    align-items: center;
    padding: .1rem .1rem;
    border-bottom: .01rem solid #edf1f2;
}
.profession_head .sprite {
    display: inline-block;
    width: 1.39rem;
    height: 1.39rem;
    flex-shrink: 0;
    background-position: -.1rem -.1rem;
}
.profession_rank>span {
    display: inline-block;
    width: 50%;
    padding: .1rem .1rem;
    border-bottom: .01rem solid #edf1f2;
}
.profession_rank .sprite {
    position: relative;
    top: .03rem;
    display: inline-block;
    width: .16rem;
    height: .15rem;
    background-position: -3.87rem -2.5rem;
    margin-left: .1rem;
}
.profession_rank_1 {
    border-right: .01rem solid #edf1f2;
}
.profession_3>span {
    display: inline-block;
    width: 50%;
    padding: .1rem .1rem;
    border-bottom: .01rem solid #edf1f2;
}
.profession_3_1 {
    border-right: .01rem solid #edf1f2;
}
.profession_3_1>span {
    margin-left: .1rem;
    color: red;
}
.profession_3_2>span {
    margin-left: .1rem;
    color: red;
}
.profession_salary {
    display: flex;
    align-items: center;

    border-bottom: .01rem solid #edf1f2;
}
.profession_salary>span {
    display: inline-block;
    width: 40%;
    text-align: center;
}
.profession_salary>div {
    display: inline-block;
    width: 60%;
    font-weight: bold;
    border-left: .01rem solid #edf1f2;
}
.profession_salary>div>p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: .1rem .1rem;
    border-bottom: .01rem solid #edf1f2;
}
.profession_salary>div>p:last-child {
    border-bottom-style: none;
}
.profession_learn {
    padding: .1rem;
    font-weight: bold;
    border-bottom: .01rem solid #edf1f2;
}
.profession_learn>span {
    color: red;
}
.profession_premise {
    padding: .1rem;
}
.cartoon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #fff;
    background-color: #000;
    opacity: 0;
    z-index: 2;
}
.profession>div>div:hover .cartoon {
    opacity: .7;
}
.cartoon>div {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: .1rem;
}
@media only screen and (max-width: 500px) {

}
