html,
body {
    background-color: #29bde0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .2rem .4rem;
    text-align: center;
    background-color: #29bde0;
    z-index: 5;
}
.footer a,
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active,
.footer a:focus {
    color: #fff;
    background-color: #fbb435;
    border-style: none;
}

.sprite2-1 {
    display: inline-block;
    width: .4rem;
    height: .3rem;
    background-position: -.2rem -3.2rem;
}
.sprite2-2 {
    display: inline-block;
    width: .4rem;
    height: .3rem;
    background-position: -.6rem -3.2rem;
}

/** --------------- content start ----------------- **/
.content {
    margin: .55rem 0 1rem 0;
}
.content * {
    line-height: 1;
}
.dialogue {
    position: relative;
    padding: .1rem .2rem;
    margin-bottom: .1rem;
    background-color: #b9e9f5;
}
.music {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: .015rem;
    right: .08rem;
    width: .3rem;
    height: .3rem;
    background-color: #fbb435;
    border-radius: 50%;
}
.music audio {
    position: absolute;
    top: .-01rem;
    left: 1.32rem;
    opacity: 0;
    -webkit-transform:scale(2);
    -moz-transform:scale(2);
    transform: scale(2);
    z-index: 5;
}
.music .play {
    display: inline-block;
    position: absolute;
    top: .05rem;
    left: .12rem;
    border: .1rem solid transparent;
    border-left-color: #fff;

}
.triangle {
    display: inline-block;
    position: absolute;
    left: .3rem;
    bottom: -.16rem;
    border: solid transparent;
    border-width: .08rem .04rem;
    border-top-color: #b9e9f5;
}
.content>p {
    padding-left: .3rem;
    color: #fff;
}
/** ------ player start ------**/
.player { position: relative;}
.player .row {
    margin-top: .35rem;
}
.player .row .col-xs-4 {
    padding-right: .18rem;
    padding-left: .12rem;
}
.vessel {
    position: relative;
    padding: 40% 50%;
    background-color: #f5c97b;
    border: .03rem solid #fff;
    border-bottom-width: 0;
}
.vessel_1,
.number {
    position: absolute;
    top: 50%;
    left: 50%;
}
.vessel-number {
    position: relative;
    padding: 10% 50%;
    color: #fff;
    background-color: #83b09a;
    border: .03rem solid #fff;
    border-top-width: 0;
}
.vessel_1 span,
.number span {
    position: relative;
    left: -50%;
    top: -.5em;
}
.vessel_1 span { font-size: 1.2em;}
.vessel-hover {
    display: none;
    position: absolute;
    top: -.35rem;
    left: .12rem;
    width: 90%;
    padding: .1rem 0;
}
.vessel-hover span {
    display: inline-block;
    padding: .08rem;
    margin-right: .02rem;
    background-color: #fff;
}
.player .col-xs-4:hover .vessel-hover,
.vessel-hover:hover {
    display: block;
}


