* { margin: 0; padding: 0;}
html { font-size: 100px;}
body {
    background-color: #eff0f4;
    color: #fff;
    font-size: 12px;
}
.header {
     background-color: #5fc0cd;
     padding: .15rem;
     font-size: .15rem;
     position: relative;
 }
.left {
    position: absolute;
    top: .15rem;
    left: .15rem;
}
.right {
    position: absolute;
    top: .15rem;
    right: .15rem;
}
.center {
    width: .3rem;
    margin: 0 auto;
}
.box1,
.box2 {
    padding: .1rem .5rem;
    margin-top: .1rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 17px 50%;
}
.box1 { background-image: url('images/task04-1.png');}
.box2 { background-image: url('images/task04-2.png');}
input {
    display: block;
    border-width: 0;
    width: 100%;
    padding: .1rem;
    background-color: #fff;
    border-left: 2px solid #eaedee;
}
.button1 {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #5fc0cd;
    padding: .15rem 0;
    margin: .4rem 0 .1rem 0;
    font-size: .15rem;
    letter-spacing: .1rem;
    border-width: 0;
    color: #fff;
}
.submit { padding-left: .1rem;}
.box3 { position: relative;}
.box3 a {
    position: absolute;
    right: 10px;
    color: #5fc0cd;
}
input,
button {outline:none;}