
/** ------------------------------------------------------- home page start ----------------------------------------------------- **/

html.home-page,
.home-page body { background-color: #f0f0f0;}
/** sprite start **/

.sprite1-1 {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background-position: -.2rem -3.2rem;
}
.sprite1-2 {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background-position: -.65rem -3.25rem;
    background-color: transparent;
}

.content .page-turning {
    display: inline-block;
    position: absolute;
    top: 2.2rem;
    right: -.08rem;
    background-color: transparent;
    border: .15rem solid transparent;
    border-left-color: #fbb435;
}
/** sprite end **/



/** --------- content start ----------- **/
.content {
    padding: .45rem .2rem 0;

}
.content *{
    line-height: 1;
    text-align: center;
    background-color: #fff;
}
.history {
    position: relative;
    padding: .3rem 0;
    margin: .1rem 0;
    color: #9a9a9a;
    border: .01rem solid #c9c9c9;
}
.history a {
    position: absolute;
    top: .2rem;
    right: .05rem;
    background-color: transparent;
}
.versions {
    position: relative;
    padding-bottom: .25rem;
    border: .01rem solid #d0d0d0;
}
.versions .versions_head {
    padding: .15rem 0;
    margin: 0;
    color: #fbb435;
    border-bottom: .02rem solid #fbb435;
}
.versions a,
.versions a:link,
.versions a:visited,
.versions a:hover,
.versions a:active,
.versions a:focus{
    padding: .2rem .15rem;
    margin: .15rem .3rem;
    color: #fff;
    background-color: #69d1e9;
}
.versions h4 {
    background-color: #69d1e9;
}
.versions p {
    margin: 0;
}
.page {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
}
.page span {
    display: inline-block;
    margin: .04rem .02rem;
    border: .07rem solid #f0f0f0;
    border-radius: 50%;
}
span.page_one {
    border-color: #69d1e9;
}
@media only screen and (min-height: 800px) {
    html { font-size: 300px;}
    .history a {
        right: .05rem;
    }
    .content .page-turning {
        top: 2.43rem;
    }
}

/** ---------- content end ------------ **/