* { margin: 0; padding: 0;}
html { font-size: 100px;}
body {
    font-size: 12px;
    color: #fff;
}
.header {
    width: 100%;
    background-color: #5fc0cd;
    padding: .2rem 0;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 2;
}
.header img {
    position: absolute;
    left: .1rem;
    top: .12rem;
    height: .16rem;
}
h1 {
    font-size: .16rem;
    line-height: 0;
}
.footer {
    width: 100%;
    padding: .15rem 0;
    font-size: .15rem;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #fff;
    z-index: 2;
}
.footer1,
.footer2 {
    width: 48%;
    margin: 0 1%;
    padding: .1rem 0;
    border: .02rem solid #5fc0cd;
    border-radius: .05rem;
    -moz-border-radius: .05rem;
    color: #5fc0cd;
    background-color: #fff;
    text-align: center;
    outline:none;
}
.footer2 {
    color: #fff;
    background-color: #5fc0cd;
}

.profile {
    background-image: url('images/task05-0.png');
    background-position:center center;
    background-size: 100%;
    background-color: #ccc;
    margin-top: .4rem;
}
.head {
    background-image: url('images/task05-2.png');
    background-repeat: no-repeat;
    background-size: .65rem;
    background-position: .2rem 50%;
    padding: .54rem 1rem;
}
.head h2 { font-size: .16rem;}
.head p {
    padding-left: .2rem;
    background-image: url('images/task05-3.png');
    background-repeat: no-repeat;
    background-size: .12rem;
    background-position: 0 50%;
}
.particulars {
    color: #333;
    margin-bottom: .78rem;
}
.particulars h2,
.content div {
    margin-left: .1rem;
    padding: .1rem 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.particulars h2 {
    font-size: .12rem;
    font-weight:normal;
    padding: 0 .1rem;
    margin: .1rem 0 .1rem .1rem;
    background-image: url('images/task05-4.png');
    background-repeat: no-repeat;
    background-size: .03rem .13rem;
    background-position: 0 50%;
}
.content {
    border-top: .01rem solid #e1e5e7;
    border-bottom: .01rem solid #e1e5e7;
}
.column {
    flex-shrink: 0;
    color: #999;
    border-right: .02rem solid #e1e5e7;
}
.content div { border-top: .01rem solid #e1e5e7;}
.content .content1 { border-top-width: 0;}
.content span { padding: 0 .1rem;}
.content1 span {
    padding: 0 0 0 .18rem;
    margin-left: .1rem;
    background-image: url('images/task05-5.png');
    background-repeat: no-repeat;
    background-size: .13rem;
    background-position: 0 50%;
}
.price { color: red;}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline:none;
}