html {
    font-size: 100px;

}
body {
    background-color: #fafafa;
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline:none;
}
.header a {
    color: #fff;
}
.sprite {
    background-image: url(images/task8_sprites.png);
}

/** ---------- header start ------- **/
.header {
    position: relative;
}

.header_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 15%;
    color: #29b078;
}
.header__phone {
    padding-left: .15rem;
}
.header__social span {
    display: inline-block;
    margin-right: .15rem;
    width: .25rem;
    height: .24rem;
}
.header__social_1 {
    background-position: -2.97rem -2.5rem;
}
.header__social_2 {
    background-position: -3.42rem -2.5rem;
}
.header__social_3 {
    background-position: -2.17rem -2.97rem;
}


.header_nav {
    padding: 0 15%;
    margin-bottom: 0;
    border-color: transparent;
    border-radius: 0;
    background-color: #29b078;
}
.navbar-header {
    padding-left: 0;
    padding-right: 0;
}
.header__logo {
    width: 1.07rem;
    height: .49rem;
    margin-left: .15rem;
    background-position: -.1rem -2.97rem;
}
.header_nav .navbar-header .navbar-toggle {
    border-color: transparent;
}
.header_nav .navbar-header .navbar-toggle:focus{
    background-color: transparent;
}
.header_nav .navbar-header .navbar-toggle:hover {
    background-color: #333;
    opacity: .5;
}
.icon-bar {
    background-color: #666!important;
    width: .2rem!important;
    height: .03rem!important;
}

.header__nav a{
    letter-spacing: .03rem;
    color: #fff!important;
    border-bottom: .01rem solid transparent;
    border-top: .01rem solid transparent;
}
.header__nav a:hover {
    border-bottom-color: #fff;
}
/**
.dropdown {
    display: none;
}

/**
.header__nav a:last-child {
    margin-right: -.2rem;
}
/** ---------- header end ------- **/

/** ----------- footer start ----------- **/
.footer {
    width: 100%;
    background-color: #29b078;
    color: #fff;
}
.footer_recomend {
    padding: 0 15%;
}
.footer_recomend>div {
    padding-top: .2rem;
}
.footer_recomend_1 p,
.sbsidiary p{
    margin: .1rem 0 0 0;
}
.sbsidiary span {
    padding-left: .1rem;
}
.wechat-id {
    display: flex;
    flex-direction: row-reverse;
}
.wechat-id div {
    width: 1rem;
}
.wechat-id span {
    position: relative;
    left: -.02rem;
    display: inline-block;
    width: .92rem;
    height: .92rem;
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    transform: scale(0.9);
    background-position: -2.97rem -1.38rem;
}
.footer_info {
    padding: .1rem 15%;
    font-size: .1rem;
    text-align: center;
    border-top: .01rem solid #32c086;
}
@media only screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin-right: -.15rem;
    }
    .navbar-nav>li>a {
        padding-top: .2rem;
        padding-bottom: .2rem;
        border-width: .02rem;
    }
    .header__logo {
        margin-top: .06rem;
    }
}
@media only screen and (max-width: 768px){
    .wechat-id {
        flex-direction: row;
    }
    .header_contact,
    .header_nav,
    .footer_recomend,
    .footer_info {
        padding-left: 5%;
        padding-right: 5%;
    }
    .navbar-collapse {
        margin-left: -5%;
        margin-right: -5%;
    }
    .footer_info {
        padding: .1rem 5%;
    }
    .dropdown {
        display: inline-block;
    }

    .header__social span {
        margin-right: .01rem;
    }
    .header_nav {
        display: block;
        padding-top: .1rem;
    }
    .header__nav a {
        display: block;
        padding: .1rem 0;
        text-align: center;
    }
}
.link {
    position: fixed;
    top: 50%;
    left: .1rem;
    transform: translate(0,-50%);
    line-height: .4rem;
    color: #fff;
    background-color: #000;
    opacity: .5;
    z-index: 2;
}
.link a {
    color: #fff;
    padding: .1rem;
    background-color: orange;
}