* { margin: 0; padding: 0;}
html { font-size: 100px;}
body {
    font-size: 14px;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.sprite {
    background-image: url(images/task06-sprite.png);
    background-size: 1.8rem;
    display: inline-block;
}
button {
    background-color: transparent;
    background-size: 1.8rem;
    font-size: .15rem;
    border-width: 0;
    outline: none;
}
.footer button {
    font-size: 12px;
}
.header {
    background-color: #5fc0cd;
    width: 100%;
    position: fixed;
    top: 0;
}
.header_button {
    background-color: #55a8b3;
    width: 1.5rem;
    text-align: center;
    border: .01rem solid #55a8b3;
    border-radius: .05rem;
    margin: 0.1rem auto;
    display: flex;
}
.header_button_1,
.header_button_2 {
    width: 50%;
    padding: .1rem;
    color: #fff;
}
.header_button_2 {
    background-color: #fff;
    border: .01rem solid #fff;
    border-radius: .05rem;
    color: #5fc0cd;
}
.header_imgbutton {
    background-position: -.585rem 0;
    padding: .137rem;
    position: absolute;
    top: .18rem;
    right: .25rem;
}
.list-head {
    width: 100%;
    background-color: #ffffff;
    border-bottom: .01rem solid #e1e5e7;
    text-align: center;
    padding: .1rem 0;
    margin-left: 0;
    position: fixed;
    top: .64rem;
}
.list-head div {
    min-width: 1.05rem;
    height:.17rem;
}
.list-head_1,
.list-head_2 { border-right: .01rem solid #e1e5e7;}
.footer {
    background-color: #f8fafb;
    width: 100%;
    border-top: .01rem solid #e2eaec;
    text-align: center;
    padding: .05rem .2rem;
    margin-left: 0;
    position: fixed;
    bottom: 0;
}
.footer div {
    min-width: .89rem;
}
.footer__button1 .sprite {
    background-position: -1.12rem 0;

    padding: .145rem;
}
.footer__button1 {
    width:.2959rem;
    padding-top: .05rem;
}
.footer__button3 .sprite {
    background-position: -.85rem 0;

    padding: .1454rem .135rem;
}
.footer__button3 {
    width: .27rem;
    padding-top: .05rem;
}
.footer__button2 .sprite {
    padding: .295rem;
}
.write { height: .59rem;}
ul {
    list-style: none;
    display: inline-block;
    width: 100%;
    height: .17rem;
    overflow: hidden;
    margin: 0;
}
li span {
    padding-right: .05rem;
}
ul:hover,
ul:hover li {
    overflow: visible;
    background-color: #e1e5e7;
}
li:hover {
    background-color: #e1e5e7;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline:none;
}
.content-s {  margin:1.1rem 0 .75rem;}
.content,
.content>div {
    padding: .05rem;
}
.content { border-bottom: .01rem solid #e1e5e7;}
.content_1 {
    display: flex;
}
.calendar {
    padding: .073rem .08rem;
    margin: 0 .06rem 0 0;
    background-position: -1.525rem .02rem;
    align-items: center;
}
.content_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_2_1 {
    padding-left: .22rem;

}
.content_2_2 {
    display: flex;
}
.arrows {
    padding: .098rem .06rem;
    margin: 0 0 0 .06rem;
    background-position: -1.41rem 0;
    align-items: center;
}
.content_3 {
    display: flex;
}
.site {
    padding: .07rem .06rem;
    margin: 0 .09rem 0 0;
    background-position: -1.68rem .03rem;
    align-items: center
}