html,
body {
    background-color: #29bde0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .2rem .4rem;
    text-align: center;
    background-color: #29bde0;
    z-index: 5;
}

/** --------------- content start ----------------- **/
.content {
    margin: .55rem 0 1rem 0;
}
.content * {
    line-height: 1;
}
.dialogue {
    position: relative;
    padding: .1rem .2rem;
    margin-bottom: .1rem;
    background-color: #b9e9f5;
}
.triangle {
    display: inline-block;
    position: absolute;
    left: .3rem;
    bottom: -.16rem;
    border: solid transparent;
    border-width: .08rem .04rem;
    border-top-color: #b9e9f5;
}
.content>p {
    padding-left: .3rem;
}
.player .row { margin-top: .2rem;}
.vessel {
    position: relative;
    padding: 40% 50%;
    background-color: #f5c97b;
    border: .03rem solid #fff;
    border-bottom-width: 0;
}
.vessel_1,
.number {
    position: absolute;
    top: 50%;
    left: 50%;
}
.vessel-number {
    position: relative;
    padding: 10% 50%;
    background-color: #83b09a;
    border: .03rem solid #fff;
    border-top-width: 0;
}
.vessel_1 span,
.number span {
    position: relative;
    left: -50%;
    top: -.5em;
}
.vessel_1 span { font-size: 1.2em;}



